@import "../../styles/colors";

.movie-num {
  margin: 25px 0;
  color: $white;
  font-size: 20px;
  font-weight: 300;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-column-gap: 55px;
  grid-row-gap: 40px;
  padding-bottom: 40px;
}

.movie {
  img {
    width: 100%;
    margin-bottom: 13px;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .title {
    font-size: 18px;
    font-weight: 300;
  }

  .year {
    font-size: 14px;
    font-weight: 300;
    padding: 4px 10px;
    border: 1px solid $grey;
    border-radius: 4px;
  }

  .description {
    font-weight: 300;
    font-size: 14px;
  }
}

.movie:nth-child(3n+3) {
  padding-right: 0;
}
