/.idea
/node_modules
/dist
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/btn.tsx.html
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/index.ts.html
coverage/lcov-report/logo-link.tsx.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/title.tsx.html
coverage/lcov-report/react-app/file-mock.js.html
coverage/lcov-report/react-app/index.html
coverage/lcov-report/react-app/src/shared/btn.tsx.html
coverage/lcov-report/react-app/src/shared/index.html
coverage/lcov-report/react-app/src/shared/index.ts.html
coverage/lcov-report/react-app/src/shared/logo-link.tsx.html
coverage/lcov-report/react-app/src/shared/title.tsx.html
