@import "src/styles/colors";

.form-grid {
  display: grid;
  grid-template-columns: 45vw 23vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  padding-bottom: 2vh;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  label {
    color: $red;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 1.2vh;
  }

  .form-control {
    height: 50px;
    color: $white;
    font-weight: 300;
    font-size: 14px;

    &.desc {
      height: 18vh;
      resize: none;
      padding-top: 10px;
    }
  }

  select.form-control {
    text-transform: capitalize;

    option {
      line-height: 24px;
      background: $black;
    }
  }
}

.form-actions {
  margin-top: 5vh;
  display: flex;
  justify-content: flex-end;

  button {
    padding: 1vh 2vw;
  }

  .reset {
    border: 1.5px solid $red;
    color: $red;
    background: $black;
    margin-right: 1vw;
  }

  .submit {
    color: $white;
    background: $red;
  }
}
